body{
    background-color: red;
    margin: auto;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.contenitore{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 4%;
}

.imgetesto{
    display: flex;
    justify-content: center;
}

.header{
    background-color: black;
    display: flex;
    margin: auto;
    height: 10%;
    color: white;
    justify-content: space-around;
}

.footer{
    margin-top: 5%;
    background-color: white;
    padding-top: 1px;
    text-align: center;
}

.sottofooter{
    padding: 100px;
    color: white;
    background-color: black;
}

a{
    color: #d20d57;
    text-decoration: none;
}

.sponsor{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.logo{
    display: flex;
    color: white;
    align-items: center;
}

h1{
    font-size: 50px;
}

.sotto{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 1%;
}

.linguaggi{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;

}

.immagine{
    background-color: #fddf38;
    padding-right: 10px;
}

.scatolalinguaggi{
    background-color: black;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    max-width: 80%;
    color: white;
    text-align: center;
}

.contenitoresotto{
    background-color: white;
    border: 2px solid black;
    padding: 1%;    
    justify-content: space-between;
    display: block;
    margin-top: 4%;
}
