
.header{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 50, 157);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 10px;
}

.container{
    max-width: 1300px;
    margin: auto;
}

#itaengesp{
    display: flex;
}

.orbox{
    width: 50px;
    height: 50px;
    background-color: rgb(254, 168, 45);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenitore{
    display: flex;
    justify-content: space-around;
    background-color: rgb(204, 204, 204);
    width: 98%;
    padding: 18px;
    margin-top: 10px;
}

.box1{
    text-align: center;
    background-color: rgb(250, 235, 216);
    padding: 20px;
    height: 300px;
}

.boxcenter{
    background-color: rgb(238, 238, 238);
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.box2{
    text-align: center; 
    background-color: rgb(217, 236, 246);
    padding: 20px;
}

.imgbox12{
    width: 250px;
    height: 200px;
}

.footer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 60px;
    background-color: rgb(157, 226, 160);
}

